---
extends: airbnb
env:
  browser: true
  mocha: true
globals:
  browser: true
plugins:
- react
- jsx-a11y
- import
rules:
  import/no-extraneous-dependencies:
  - error
  - devDependencies:
    - test/**/*.js
    - public/**/*.js
    - "*.js"
  react/jsx-filename-extension: 0
settings:
  import/resolver: webpack
