$darkblue-color: #002a3a;
$grey-color: #ccc;
$darkgrey-color: #818a91;


$title-color: $darkblue-color;
$text-color: $darkblue-color;
$text-optional-color: $darkgrey-color;

$line-color: $grey-color;
$dot-color: $grey-color;
