@import './colors';

.timeline {
  padding: 10px 20px 20px;
  width: 100%;

  &__container {
    display: flex;
    line-height: 1;

    &__year {
      color: $title-color;
      font-size: 1em;
      font-weight: 400;
      padding-right: 15px;
      position: relative;
      width: 40px;

      &__item {
        margin-bottom: 8px;
      }

      &::after {
        background: $dot-color;
        border-radius: 50%;
        content: '';
        height: 6px;
        position: absolute;
        right: -1px;
        top: 5px;
        width: 6px;
      }
    }

    &__body {
      color: $text-color;
      font-size: .9em;
      padding-bottom: 20px;
      padding-left: 15px;
      position: relative;

      @media (min-width: 1200px) {
        font-size: 1em;
      }

      &::before {
        background-color: $line-color;
        content: '';
        height: 100%;
        left: -3px;
        min-height: 95%;
        position: absolute;
        top: 10px;
        width: 2px;
      }

      &__title {
        font-weight: bold;
        margin-bottom: 5px;
        margin-top: 0;
        text-align: left;
      }

      &__description {
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: left;

        &__text {
          font-weight: 300;
        }

        &__optional {
          color: $text-optional-color;
          font-style: italic;

          &::before {
            content: '- (';
            margin-left: 5px;
          }

          &::after {
            content: ')';
          }
        }
      }
    }

    &:last-child {
      .timeline__container__body {
        &::before {
          display: none;
        }
      }
    }
  }
}
