.timeline {
    padding: 10px 20px 20px 20px;
    width: 100%;

    &__container {
        display: flex;
        line-height: 1;

        &__year {
            color: #002a3a;
            font-size: 1em;
            font-weight: 400;
            padding-right: 15px;
            position: relative;

            &__item {
                margin-bottom: 8px;
            }

            &::after {
                background: #ccc;
                border-radius: 50%;
                content: "";
                height: 6px;
                position: absolute;
                right: -1px;
                top: 5px;
                width: 6px;
            }
        }

        &__body {
            color: #002a3a;
            font-size: .9em;
            padding-bottom: 20px;
            padding-left: 15px;
            position: relative;

            @media (min-width: 1200px) {
                font-size: 1em;
            }

            &::before {
                background-color: #ccc;
                content: "";
                height: 100%;
                left: -3px;
                min-height: 95%;
                position: absolute;
                top: 10px;
                width: 2px;
            }
        }

        &:last-child {
            .timeline__container__body {
                &::before {
                    display: none;
                }
            }
        }
    }
}
